body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border: none;
  background-color: gold;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.main-auth {
  float: right;
  margin-right: 20px;
}

.main-title {
  text-align: center;
  font-family: "Bookman";
  font-size: 80px;
  margin: 0 auto;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  margin: 10px;
  height: 200px;
  width: 200px;
  padding: 10px;
  justify-content: center;
  border-style: groove;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,150,0.8);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 2;
}

.view-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  padding-top: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 10px 4px;
}

.product-header {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;
}

.product-title-container {
  text-align: center;
  flex-grow: 1;
}

.product-filter {
  margin: 15px;
  padding: 15px;
}

.product-filter-input {
  padding: auto;
}

.product-name {
  font-weight: bold;
}

.product-price {
  justify-content: left;
}

.product-add {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  border: none;
}

.product-add:hover {
  background-color: lightblue;
  color: white;
  font-weight: bold;
}

.sidebar-container {
  margin-left: 0px;
  height: 100%;
  position: relative;
}

.single-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-info-card {
  width: 500px;
  border-style: solid;
  padding: 20px;
  margin: 0px 15px 0px 15px;
}

.single-info-card-top {
  display: flex;
  flex-direction: row;
}

.single-info-card-bottom {
  display: flex;
  flex-direction: row;
}

.single-info-card-price {
  float: right;
}

.single-info-card-text {
  border-style: ridge;
  overflow: scroll;
  padding: 8px;
}

.single-info-card-action {
  float: right;
  padding-top: 15px;
}

.single-info-card-rating {
  flex-grow: 1;
}

.single-info-card-name {
  flex-grow: 1;
}

.single-info-card-middle {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: scroll;
}

.review-container {

}

.review-info-top {
  display: flex;
  flex-direction: row;
}

.review-info-email {
  flex-grow: 1
}

.review-info-rating {
  float: right;
}

.review-textarea {
  font-size: 16px;
}
